body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#bdbdbd;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.grid-container
{
  display: grid;
  grid-template-columns: 5% 10% auto;
}
.pink
{
  margin-top: 150px;
  background-color: #af3861;
  width: 50px;
  height: 50px;
  margin-left: 20px;


}
.text
{
 margin-top: 150px;
  color: #000;
  width: 50px;
  height: 50px;
  margin-left:15px;
}

.inline
{
 display: inline-block;
 
}
.blue
{
  background-color:#131c4d ;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.green
{
  background-color: #0f3b11;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.name
{
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: #af3861;
}
.arr{
  width:30px;
  background-color:#af3861;
  display: inline-block;
  margin: 0 2px;
  
}
.arr-container{
  margin: 1% 5% 0 5%;
  
}
.btn{
  width:300px;
  border-radius: 25px;
  background-color: #af3861;
  color: #bdbdbd;
  border: 1px solid #af3861 ;
  font-size: 2em;
  margin: 0 20px 0 80px;
  padding-bottom: 0;
  transition: 0.5s ease;
  cursor: pointer;
}
.btn:hover
{
  background-color: #0f3b11;
  transform:scale(1.1) ;
}


/* #0f3b11 ,*/